:root {
	/* ------- colors ------- */
	--primary-color: #14b8a6;
	--secondary-color: #000;
	--tertiary-color: #fff;
	--content-color: #fff;
	/* ---------------------- */

	/* ------- fonts ------- */
	--primary-font: "Heebo", sans-serif;
	--secondary-font: "Roboto", sans-serif;
	/* --------------------- */
}

.dark {
	--primary-color: #0f766b;
	--secondary-color: #fff;
	--tertiary-color: #0e0e11;
	--content-color: #18181b;
}